  <aside>
    
      <div id="recipeOfTheDay">
            <h1>Recipe Of The Day</h1>
        <img class="recipeImage" src="${recipe.image}" alt="${recipe.title}">
        <div class="recipeDetails">
          <h2 id="recipe-title">${recipe.title}</h2>
          <div id="recipe-summary">
            ${summaryHtml}
          </div>
          <p class="recipeInstructions">${recipe.instructions}</p>
        </div>
      </div>
  </aside>
</div>
