<div id="buttonContainer">
  <button id="getRecipeButton">Get Recipe of the Day</button>
    <button id="closeButton" style="display: none;">Close</button>
</div>

<div id="recipeOfTheDay">

  <!-- ... other content ... -->
</div>

