
<div class  ="content-wrapper">
  <aside>
    <div class="food-container">
      <div id="recipeOfTheDay">
        <img class="recipeImage" src="${recipe.image}" alt="${recipe.title}">
        <div class="recipeDetails">
          <h2 id="recipe-title">${recipe.title}</h2>
          <div id="recipe-summary">
            ${summaryHtml}
          </div>
          <p class="recipeInstructions">${recipe.instructions}</p>
        </div>
      </div>
  </aside>
</div>
