<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
        @import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

        * {
            font-family: 'ABeeZee', sans-serif;
        }

        h1 {
            font-family: 'Source Sans Pro', sans-serif;
        }
    </style>
  <title>Busy Moms Kitchen</title>
</head>

<body>


    {{{body}}}
    <script src="/js/search.js"></script>
    <script src="/js/featuredRecipe.js"></script>
    <script src="/js/contactForm.js"></script>
     <script src="/js/model.js"></script>
      <script src="/js/view.js"></script>
       <script src="/controllers/controller.js"></script>
    
  </div>
</body>

</html>