<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Busy Moms Kitchen</title>
</head>

<body>
  <div class="container">
    {{{body}}}
    <script src="/js/search.js"></script>
    <script src="/js/featuredRecipe.js"></script>
    <script src="/js/contactForm.js"></script>
    
  </div>
</body>

</html>