<header>
  <div>
    <img class="logo" src="/css/images/logo.png">
  </div>

  <div class="navbar-rightside">
    <nav>
      <ul>
        <li><a class="nav-link" href="/views/home.handlebars">Home</a></li>
        <li><a class="nav-link" href="entree.html">Contact Us</a></li>
        <li><a class="nav-link" href="entree.html">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>

