<footer style="background-color: grey; border-top: 1px solid black;">
  <form id="newsletter-form" onsubmit="submitForm(event)">
    <div class="Newsletter">
      <h2>Connect With Us!</h2>
      <p>Keep up to date whenever we add new recipes</p>
    </div>
    <div class="txt_entered">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
    </div>
    <div class="submission">
      <input type="button" value="Subscribe" onclick="submitForm(event)">
    </div>
  </form>

  <!-- Social media links -->
  <div class="links" style="text-align: left;">
    Follow us
    <p><a href="https://www.facebook.com/profile.php?id=100090349982790" target="_blank" style="font-size: 16px;"><i class="fab fa-facebook"></i> Facebook</a></p>
    <p><a href="https://www.instagram.com/busymomskitchenrecipes/" target="_blank" style="font-size: 16px;"><i class="fab fa-instagram"></i> Instagram</a></p>
  </div>
</footer>
