<footer>
  <form id="newsletter-form" onsubmit="submitForm(event)">
    <div class="Newsletter">
      <h2>Connect With Us!</h2>
      <p>Keep up to date whenever we add new recipes</p>
    </div>
    <div class="txt_entered" style="background-color: grey" ;>
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
    </div>
    <div class="submission">
      <input type="button" value="Subscribe" onclick="submitForm(event)">
    </div>
  </form>
</footer>

<!--Social media links-->
<div class="links">Follow us
  <p><a href="https://www.facebook.com/profile.php?id=100090349982790" target="_blank"><i
        class="fab fa-facebook">facebook</i></a></p>
  <p><a href="https://www.instagram.com/busymomskitchenrecipes/" target="_blank"><i
        class="fab fa-instagram">Instagram</i></a></p>
</div>
