<!--Search bar container-->
<div class="container1">
  <!--search bar-->
 
    <div class="meal-search">
      <h2 class="title">Type in an Ingredient to get Started:</h2>

      <div class="searchedFoodBox">
        <!--Input Box-->
        <input type="text" class="search-control" placeholder="What would you like to make..." id="search-input" />
        <button type="submit" class="search-Btn btn" id="search-Bar">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <!--Food Card Section-->
    <div class="foodresults">
    <div class="meal-results">
      <div id="meal"></div>
      </div>
    </div>
  
</div>
     

 
