<div class = "welcomeBox">
  <div class="welcome-pg" id="welcome">Bon Appetite!</div>
  <p class="welcome-pg" id="description">Ever wonder what to make for dinner again? Busy day at work and no dinner plans? No worries! Busy Mom's Kitchen has you covered with easy, quick recipes that'll impress your family. Find the perfect recipe and make them say WOW! Join us now!</p>
    <div class="container1">
  <div class="meal-wrapper">
    <div class="meal-search">
      <h2 class="title">Type in an Ingredient to get Started:</h2>

      <div class="searchedFoodBox">
        <input type="text" class="search-control" placeholder="What would you like to make..." id="search-input">
        <button type="submit" class="search-Btn btn" id="search-Bar">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <!--Food Card Section-->

    <div class="meal-results">
      <h2 class="title">Your Food Options:</h2>
      <div id="meal"></div>
    </div>
  </div>
</div>
</div>
