<div class = "welcomeBox">
  <div class="welcome-pg" id="welcome">Bon Appetite!</div>
  <p class="welcome-pg" id="description">Ever wonder what to make for dinner again? Getting home from work after a
    busy day and you have not thought about what to make for dinner? Don't fret! Busy mom's kitchen is the answer. Here you
    will find easy and quick recipes that would make your family go WOW! So come on in and find the right
    recipe for you!</p>
</div>
