<div class="welcomeBox">
  <div class="welcome-pg" id="welcome">Bon Appetite!</div>
  <p class="welcome-pg" id="description">
    Ever wonder what to make for dinner again? Busy day at work and no dinner plans? No worries!
    Busy Mom's Kitchen has you covered with easy, quick recipes that'll impress your family. Find
    the perfect recipe and make them say WOW! Join us now!
  </p>
</div>

