<div class="top-half-background"></div>

<div class="content">
  <header>
    <!-- Insert navbar -->
    {{> navbar }}
  </header>
  <div class="foodList"></div>

  <!-- Insert Welcome Box -->
  {{> welcome }}
</div>

<!-- Insert Content Wrapper -->
{{> content_wrapper }}

<!-- Insert Search Section -->
{{> search_section }}

<!-- Insert Newsletter -->
{{> newsletter }}
