<header>
  <!-- Insert navbar -->
  {{> navbar }}
</header>
<div class="foodList"></div>

<!-- Insert Welcome Box -->
{{> welcome }}

<!-- Insert Content Wrapper -->
{{> content_wrapper }}

<!-- Insert Search Section -->
{{> search_section }}

<!-- Insert Newsletter -->
{{> newsletter }}


