.top-half-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70vh;
    background: url('/css/images/homepic (2).svg') no-repeat center center;
    background-size: cover;
  }
  
  .top-half-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(31, 43, 33, 0.7);
  }
  
  .content {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
  }
  
  
  .logo-container {
    background-color: pink;
    border-radius: 50%;
    width: 100px;  /* adjust to your preference */
    height: 100px;  /* adjust to your preference */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    border-radius: 50%;
    width: 120px;  /* set the size of your circle */
    height: 120px;  /* set the size of your circle */
    object-fit: cover;
    padding-top: 20%;
  }
  
  
  
  .navbar-rightside ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff; /* change this as per your design */
  }
  
  .welcomeBox {
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto; /* to center the box horizontally */
    max-width: 60%; /* adjust this value to make the box more condensed */
    align-items: center;
    text-align: center; /* Aligns the text in the center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFBBDC;
    font-size: 20px;
        font-weight: bold;
      

  }
  
.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50 20px;
  margin: 20px auto; 
  max-width: 1200px; 
}


#recipeOfTheDay {
  background-color: rgba(207, 105, 122, 0.411);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px; 
  transform: translatey(15%); 
  transform: translatez(50%); 
  justify-content: center;
}


#recipe-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipeOfTheDay h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: aqua;
}


h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#recipe-title{
  color: grey;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#recipe-instructions{
  text-align: center;
  padding: 2%; 
  display: block;
  margin: 2%; 
}

#recipe-summary {
  font-size: 1rem; 
  line-height: 1.4; 
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#recipeOfTheDay p {
  background-color: grey;
  top: 50%;
  bottom: 100%;
  padding: 10px 0; /* reduce the padding */
  margin: 10px;  /* reduce the margin */
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Start of search bar*/
.btn {
  font-family: inherit;
  font-size: 1.05rem;
  line-height: 1.6;
}

.text {
  opacity: 0.8;
}


.continer1 {
  min-height: 100vh;
}
.meal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    transform: translatey(50%); 

  }

  .meal-content {
    display: flex;
    flex-direction: column; /* Update: Set the flex-direction to column */
    align-items: center;
  }
  .title {
    margin-bottom: 1.2rem;
  }
  


.searchedFoodBox {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-Btn {
  width: 100%;
}


.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid gray;
  color: gray;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control ::placeholder {
  color: teal;
}

.search-Btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: teal;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.search-btn:hover {
  background: black;
}

.meal-results {
  margin-top: 4rem;
  display: flex; /* Instead of grid */
  flex-wrap: wrap; /* Allows the items to wrap onto multiple lines as needed */
  justify-content: space-between; /* Optional: Space items evenly along the horizontal line */
}

#meal {
  margin: 2.4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* This makes sure that the items are evenly spaced around the line */
}

.mealItem {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px;
  margin: 2rem;
  width: 23%; /* This will ensure that there will be space for 4 items in a row */
}

.foodimg img {
  width: 100%;
  height: auto;

}

.mealName {
  padding: 1.5rem 0.5rem;
  flex: 1;

}

.mealName h3 {
  font-size: 1.4rem;
}

.recipeBtn {
  text-decoration: none;
  color: #fff;
  background: teal;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
}

.recipe-btn:hover {
  background: black;
}

.notFound {
  grid-template-columns: 1fr !important;
  color: grey;
  font-size: 29px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

footer h2 {
  width: fit-content;
  font-size: 50px;
}

footer p {
  width: fit-content;
  font-size: 20px;
  align-items: center;
}


.div.txt_entered {
  width: fit-content;
}

/* Style the form element with a border around it */
form {
  border: 4px solid grey;
  background-color: gray;
  border-radius: 25px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  padding: 20px;
  background-color: lightpink;
  align-content: center;
}



.txt_entered input[type=text],
.txt_entered input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: sans-serif;
}

.links {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

@media screen and (max-width: 600px) {

  /* header styles */
  header {
    height: 60px;
  }

  .navbar-rightside {
    justify-content: center;
  }

  nav ul {
    display: none;
  }

  header input {
    width: 120px;
    height: 30px;
  }

  /* welcome page styles */
  .welcome-pg {
    padding: 80px;
    height: 30px;
  }

  .food-contanier {
    padding: 30px;
    margin: 30px;
    margin-left: 10px;
    padding-right: 2px;
    flex-direction: column;
  }

  aside h2 {
    /* styles */

  }

  aside img {
    /* styles */

  }

  #recipeOfTheDay p {
    /* styles */
  }

  aside {
    /* styles */

  

    
  }
  .asideBox{

    display: flex;
    flex-direction: column;
  }

  /* searched food styles */
  .searchedFood input[type="text"] {
    width: 80%;
    height: 30px;
  }

  .searchedFood .searchButton {
    width: 20%;
    height: 30px;
    margin-left: 10px;
  }

  /* links styles */
  .links {
    padding: 10px;
  }
}

