* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
background: lightpink;
color: white;

}



header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

nav{
    width: 100%;
}

.navbar-rightside{
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    /* justify-content: right; */
    padding: 0;
}

nav ul li {
 list-style-type: none;
 padding: 30px;
 display: inline-block;
 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#link:hover {
    color:grey
}

header input {
    border-radius: 20px;
    width: 150px;
    height: 35px;
    outline: 0;
}

.logo {
    width: 100px;
    height: auto;

}
.welcome-pg {
    border: white;
    background: grey;
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: large;
    
}

#welcome {
  font-size: 100px;
}

#description {
  font-size: 25px;
}

.food-contanier {
    border: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    margin-left: 20px;
    padding-right: 5px;  
}

aside h2 {
  /* top: 70%;
  left: 42%;

   position: absolute;
   background-color: grey;   
}

aside img {
    height: 300px;
   position: absolute; 
   background-color: grey;
   text-align: center;

}

  #recipeOfTheDay p {
    background-color: grey;
    /* top: 50%;
    bottom: 100%;
    padding: 20px 0;
    margin: 20px ; */
    
  }

  #recipeOfTheDay {
  display: flex;
  flex-direction: column;
}

aside {
    border: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    
}

.searchedFood{
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-Btn{
  width: 100%;
}

.search-control{
  padding: 0
}
.search-Bar{
  padding : 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border:1px solid gray;
  color: gray;
  border-top-left-radius:2rem;
  border-bottom-left-radius:2rem;
}


.notFound{
  grid-template-columns: 1fr!important;
  color: grey;
  font-size: 29px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
footer h2{
    width: fit-content;
    font-size: 50px;
}

footer p{
    width: fit-content;
    font-size: 20px;
    align-items: center;
}


.div.txt_entered{
    width: fit-content;
}

/* Style the form element with a border around it */
form {
    border: 4px solid grey;
    background-color: gray;
    border-radius: 25px;
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: lightpink;
    border-radius: 25px;
    align-content: center;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=button] {
    background: lightpink;
    color: grey;
    border: none;
    border-radius: 12px;
    font-size: 30px;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }


.links {
  background-color: grey;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 
}
