* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
background: lightpink;
color: white;

}


.container{
  /* height: px; */
  /* width: 100%; */
}

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

header h1 {



}



nav{
    width: 100%;
}

.navbar-rightside{
    display: flex;
    justify-content: right;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    /* justify-content: right; */
    padding: 0;
}

nav ul li {
 list-style-type: none;
 padding: 30px;
 display: inline-block;
 
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header input {
    border-radius: 20px;
    width: 150px;
    height: 35px;
    outline: 0;
}

.welcome-pg {
    border: white;
    background: grey;
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 40px;
    
}

.appetizer-box {
    border: white;
    background: grey;
    padding: 50px;
    margin: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    
}

.entree-box {
    border: white;
    background: grey;
    padding: 50px;
    margin: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    
}